.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.md-icon-2x {
  width: 48px;
  height: 48px;
  font-size: 48px;
}
